Screen {
    layout: horizontal;
    background: $panel;
}

Input {
    dock: top;
    margin: 1 0;
}

.result {
    width: 1fr;
    /* min-height: 100%; */
    padding: 0 1;
    background: $background 50%;
    border: tall $background;
}

.result-header {
    width: 1fr;
    height: 5%;
    background: $background 100%;
    border: tall $background;
}

.results-container {
    layout: vertical;
    width: 1fr;
    margin: 0 0 1 0;
    overflow: hidden auto;
    border: tall $background;
}