Screen {
    layout: horizontal;
    background: $panel;
}

Dropdown { 
    max-width: 50;
}

#input_container {
    layout: horizontal;
    dock: top;
    margin: 1 0;
    height: 4;
}

#input_container Input {
    dock: top;
    margin: 1 0;
}

#input_container Button {
    dock: right;
    margin: 1 2 0 1;
    width: 20%;
}


InventorySidebar {
    background: $panel;
    layout: vertical;
    layer: filters;
    width: 30%;
    border: round $primary;
    height: 100%;
    transition: offset 250ms in_out_cubic;
}

InventorySidebar.hidden {
    offset: -100% 10%;
}

InventorySidebar Label {
    text-style: bold;
}

InventorySidebar Label.h1 {
    text-align: center;
    border: hkey $primary;
}

InventorySidebar Label.chkbox-label {
    text-align: center;
}

InventorySidebar Button {
    margin: 1 1 1 1;
}

InventorySidebar Vertical {
    width: auto;
    height: auto;
    margin: 1 0;
}

#sot_selector_container {
    layout: horizontal;
    width: auto;
    height: auto;
}

InventorySidebar #last_synced {
    dock: bottom;
    margin: 1 0;
}

.disabled-text {
    color: $text-disabled;
}

.result {
    width: 1fr;
    /* min-height: 100%; */
    padding: 0 1;
    background: $background 50%;
    border: tall $background;
}

.result-header {
    width: 1fr;
    height: 5%;
    background: $background 100%;
    border: tall $background;
}

.results-container {
    layout: vertical;
    width: 1fr;
    margin: 0 0 1 0;
    overflow: hidden auto;
    border: tall $background;
}